#
/**
* @file
* Default theme implementation to print Lorem ipsum text.
*
* Available variables:
*   - source_text
*
* @see template_preprocess_loremipsum()
*
* @ingroup themeable
*/
#}
<div class="loremipsum">
  {% for item in source_text %}
    <p>{{ item }}</p>
  {% endfor %}
</div>
